{% extends 'services/base.html' %}
{% load static %}

{% block content %}
    <script>
        function Sum(ths) {
            var tr = ths.parentNode.parentNode,
                price = tr.getElementsByTagName("td")[1].innerHTML,
                count = tr.getElementsByTagName("td")[2].innerHTML;
            alert(price)
        }
        // https://javascript.ru/forum/dom-window/34306-poluchit-znachenie-yacheek-opredelennojj-stroki-tablicy.html
    </script>
    <header class="pt-5"></header>
    <section>
        <div class="container py-4 py-xl-5">
            <form>
                <label class="form-label fw-bold">Выберите дату: </label>
                <input class="form-control fw-bold" type="date" value="{{ current_date|date:'Y-m-d' }}" required="">
                <div class="table-responsive" style="margin-top: 10px;margin-bottom: 10px;">
                    <table id="calc_services" class="table table-striped table-striped-columns table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 40%;">Услуга</th>
                                <th class="text-center">Стоимость</th>
                                <th class="text-center" style="width: 15%;">Количество</th>
                                <th class="text-center" style="width: 23%;">Сумма</th>
                            </tr>
                        </thead>
                        <tbody>

                                {% for s in services %}
                                    <tr>
                                        <td name="service_name">{{ s.name }}</td>
                                        <td class="text-center" name="service_price">{{ s.price }} руб.</td>
                                        <td class="text-center">
                                            <input class="form-control" type="number" required="" min="0" step="1" value="0" style="text-align: center;" name="service_count" onvolumechange="Sum(this)">
                                        </td>
                                        <td class="text-center" name="service_sum"></td>
                                    </tr>
                                {% endfor %}

                        </tbody>
                        <tfoot class="table-group-divider">
                            <tr><td></td>
                                <td class="fw-bold text-end">Итого</td>
                                <td class="fw-bold text-center" style="padding-right: 22px;"></td>
                                <td class="fw-bold text-center"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div><input class="btn btn-primary" type="submit">
            </form>
        </div>
    </section>
{% endblock %}

